.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover{text-decoration: none; }


/***************头部样式***********************/
#exit,#welcome,#userName{
	color: #666666;
}
#exit{
	cursor: pointer;
}
#kaola_header a:hover{
	color: red;
}
#kaola_header{
	height: 40px;
	background: #f2f2f2;
	font-size: 13px;
	line-height: 40px;
}

#header_Nav{
	width: 1090px;
	margin: 0 auto;
}
#clearfloat{
	width: 300px;
	float: left;
}
#header_Nav span{
	padding: 0 3px;
}
#header_Nav #phone,#sign{
	padding-right: 5px;
	color: red;
}
#header_Nav .mobile{
	position: relative;
}
#header_Nav .app{
	width: 108px;
	padding: 5px;
	border: solid 1px #CCCCCC;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: red;
	position: absolute;
	top:34px;
	left: -10px;
	display: none;
	z-index: 10;
	background: white;
}


/********************右侧的图标*************************/
#navList{
	float: right;
}
#navList>li{
	float: left;
	position: relative;
}
#navList>li>a{
	color: #666;
	padding: 0px 8px;
	border-right:solid #CCCCCC 1px ;
}
#navList i{
	padding-left: 2px;
	
}

#navList>li>ul{
	
	background: white;
	position: absolute;
	top: 40px;
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	border-left: 1px solid darkgray;
	padding: 3px 5px;
	display: none;
	border-top:0px;
	box-shadow: 0 0 3px #000;
	z-index: 60;
}
#navList li ul a,#navList li ul i{
	color: #666;
}
#navList li ul a:hover,#navList li a:hover{
	color: red;
}

#navList .user ul li{
	width: 100px;
	line-height: 30px;
}
#navList .user ul li:nth-child(even){
	border-bottom: solid darkgray 1px;
}

#navList .client ul li{
	width: 100px;
	line-height: 30px;
}

#navList .more ul{
	right: 0px;
	
}
#navList .more ul li{
	width: 80px;
	line-height: 30px;
}
#navList .more ul li:nth-child(1),#navList .more ul li:nth-child(4),#navList .more ul li:nth-child(5){
	border-bottom: solid darkgray 1px;
}

#navList .more ul li a{
	display: block;
}
#navList .more ul div{
	width: 108px;
	padding: 17px 4px 3px 15px;
	border: solid 1px #CCCCCC;
	position: absolute;
	right: 91px;
	top: -1px;
	display: none;
	z-index: 11;
	background: white;
}

/********************footer底部的样式*************************/
#footerWarp{
    background: #fff;
    border-top: 1px solid #eaeaea;
}
.footBox{
	width: 1090px;
	margin: 0 auto;
}
.btmlist{
	padding: 40px 0;
    border-bottom: 1px solid #eaeaea;
}
.btmlist>ul>li{
	float: left;
	width: 272px
}
.btmlist dl dt{
	float: left;
	padding-right:10px ;
}
.btmlist dl dd{
	float: left;
}
.btmlist dl dd strong{
	font-size: 18px;
}
.btmlist dl dd span{
	font-size: 14px;
}

.guidelist{
	padding: 40px 0 90px;
}
#footerWarp .first{
	width: 264px;
   
}
.imglogo{
	width: 220px;
	height: 42px;
}
.guidelist ul .first{
	border: none;
}
.focus>span{
	font-size: 12px;
	padding-right: 10px;
}
.focus>a{
	display: inline-block;
	padding-right: 10px;
	
}

.guidelist ul li{
	float: left;
    width: 107px;
    padding: 0 0 0 25px;
    height: 128px;
    border-left: 1px solid #eaeaea;
}
.guidelist ul li dt{
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: normal;
	color: black;
}
.guidelist ul li dd{
	color: #333;
    font-size: 12px;
    line-height: 20px;
}

#kaola_fotter{
	background: #323232;
	color:rgb(194,194,194);
	text-align: center;
	padding: 20px;
	font-size:12px ;
}
#kaola_fotter p{
	line-height: 30px;
}
#kaola_fotter .middle img{
	padding-right:5px ;
}
#kaola_fotter .middle span{
	padding-right:25px ;
}
#kaola_fotter .bottom{
	padding-top: 20px;
}
#kaola_fotter .bottom img{
	padding-right: 15px;
}

