#index_body{
	background: white;
}
#index_nav{
	width: 1090px;
	margin: 0 auto;
	height: 100px;
	position: relative;
	padding-top: 24px;
}
#index_fix{
	width: 1090px;
	margin: 0 auto;
	position: relative;
	
}
#index_fix .logo2{
	width: 251px;
	height: 50px;
	background: url(../img/images/logo2.png) no-repeat center center;
}
#index_fix .logo{
	cursor: pointer;
	width: 251px;
	height: 53px;
	background: url(../img/index/logo_03.png) no-repeat center center;
}


/*************************搜索框**************************************/
#index_fix .index_input{
	width: 511px;
	height: 60px;
	position: absolute;
	left: 343px;
	top: 7px;
	
}

#index_fix .input_search{
	width: 510px;
    height: 36px;
    padding-left: 1px;
    background-color: #333;
    position: relative;
}
.input_search .search{
	float: left;
    margin: 2px 1px;
    padding: 4px 5px 4px 30px;
    background-color: #fff;
}
.input_search #inputSearch{
	width: 423px;
    height: 24px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
    border: none;
}
.input_search #prevSearch{
	position: absolute;
	left: 10px;
    top: 11px;
    color: #666;
}
.input_search #nextSearch{
	display: inline-block;
    height: 36px;
    width: 50px;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.index_input .suggestList{
	line-height: 22px;
    margin-top: 2px;
    width: 461px;
    height: 22px;
    overflow: hidden;
}
.index_input .suggestList li{
	float: left;
    white-space: nowrap;
}
.index_input .suggestList li span{
	margin: 0 10px;
    color: #999;
}
.index_input .suggestList li a{
	color: #999;
	font-size: 14px;
}

/*购物车的样式*/
#index_nav .shopCar{
	display: block;
    position: absolute;
    right: 0;
    top: 33px;
    width: 108px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
#index_nav .shopCar:hover{
	background: #f2f2f2;
}
#index_nav .shopCar .wrap{
	display: inline-block;
    padding-left: 6px;
    background: none;
    vertical-align: middle;
    color: #999;
}
#index_nav .shopCar i{
	color: #999999;
}



/*tab列表*/
#index_topTap{
	height: 40px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;
}
#index_topTap>a>img{
	position: absolute;
	bottom:0px ;
	right: 56px;
	z-index: 57;
}
#topMenu{
    width: 1090px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

#topMenu_list{
	float: left;
    height: 40px;
    width: 160px;
    background: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
    position: relative;
    z-index: 10000;
}

/*所有分类*/
#topCart{
	display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: left;
    border-bottom: 2px solid #151515;
}
#topCart .lineicon{
	display: inline-block;
    margin: 0 15px 0 27px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}
#topCart .lineicon i{
	width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

/*下拉菜单*/
#topMenu_list .jCartMenu{
	position: absolute;
	border-bottom: 1px solid #000;
	width: 160px;
	display: none;
	
    
}
#topMenu_list .jCartMenu>li{
	background: rgba(15,15,15,.82);    
	padding-left: 10px;
    width: 150px;
    cursor: pointer;
    text-align: left;
    border-bottom:rgba(255,255,255,.05) solid 1px;
    position: relative;
    z-index: 50;
}
#topMenu_list .jCartMenu>li:hover{
	padding-left: 7px;
	border-left:3px solid red ;
	background: #555555;
}

#topMenu_list .jCartMenu li .icon{
    vertical-align: middle;
    padding: 0 12px 0 14px;
}

/*二级菜单频道*/
.cartList{
	position: absolute;
	top:0px;
	background: #f6f6f6;
	width: 100px;
	left: 160px;
    position: absolute;
    z-index: 75;
    width: 930px;
    overflow: hidden;
    border: 1px solid #333;
    border-width: 0 1px 1px 0;
    text-align: left;
    color: #333;
    cursor: auto;
    display: none;
}
.cartList .ctglist{
	float: left;
    margin: 10px 0px 20px 20px;
    width: 561px;
    overflow: hidden;
    background: white;
    height: 380px;
}
.shopList li{
	float: left;
    width: 222px;
    /* height: 300px; */
    line-height: 20px;
    padding: 45px 48px 10px 10px;
}
.shopList li h4{
	border-bottom:solid 1px black ;
	padding-bottom: 5px;
}
.shopList li span{
	margin: 0 10px;
    color: #999;
}
.cartList .mbranbox{
	float: right;
    width: 299px;
    padding: 20px 17px 0;
    background: #f6f6f6
}
.imgbox a{
	display: block;
    float: left;
    height: 90px;
}
.imgbox>a>img{
	width: 88px;
    height: 88px;
    border: solid 1px #CCCCCC;
}
.imgbo2{
	padding-top: 10px;
}
.imgbox2>a>img{
	width: 244px;
    height: 100px;
}


/*导航菜单*/
#funcTab{
	height: 40px;
    float: left;
    padding-left: 20px;
}
#funcTab li{
	float: left;
	height: 40px;
    overflow: hidden;
    padding: 0 20px;
}
#funcTab li a{
	display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}


/************************详情页面*****************************/
#detailList{
	background: white;
}

/*自动设置所有的列表为1090px*/
.listTab{
	width: 1090px;
    margin: 0 auto;
    
}
.listheader{
	padding: 15px 0 20px;
    color: #999;
    margin-top: 0;
    border-bottom: 1px solid #DDD;
    font-size: 13px;
    margin-bottom: 40px;
    height: 16px;
    line-height: 16px;
}
.all>a{
	color: #333;
}
.gun{
	margin-left: 15px;
    height: 22px;
    display: inline-block;
    line-height: 24px;
    color: #999;
    font-size: 12px;
}


/*************************手机购买页面**************************************/
.phonewarp{
	padding: 10px 0 0;
}
.phoneimg{
	float: left;
    width: 402px;
    height: 488px;
    position: relative;
    display: inline;
    z-index: 1000;
}
#showImg{
	position: relative;
    top: 0;
    left: 0;
    border: 1px solid #EEE;
    width: 400px;
    height: 400px;
    cursor: crosshair;
    z-index: 1001;
}
.phoneinfo{
	float: left;
    width: 658px;
    margin-left: 30px;
    font-size: 12px;
    min-height: 600px;

}
 #etalage .etalage_thumb_image{
	
	border: solid 1px #EEEEEE;
}  

/*详情页面*/
.phonehead{
	color: #999;
	font-size: 13px;
	line-height: 25px;
	position: relative;
}
.phonehead>a{
	margin-left: 6px;
    color: #999;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    line-height: 25px;
} 
.phonehead>img{
	vertical-align: middle;
	margin-right: 8px;
	width: 24px;
	height: 24px;
}
.split{
	padding: 0 8px;
}
.selftag{
	color: #cf2c48;
	display: inline-block;
    width: 54px;
    height: 22px;
    padding-right: 6px;
    line-height: 22px;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 2px;
    background: url(../img/detail/product-tags.jpg) no-repeat;
}
.phonethem{
	margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.subtit{
	margin-bottom: 11px;
    color: #333;
    line-height: 20px;
    font-size: 13px;
}
.priceWrap{
	background-color: #F9F9F9;
	border-bottom: 1px dotted #DDD;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-top:1px dotted #DDDDDD ;
    height: 59px;
    margin-bottom: 12px;
    line-height: 59px;
}
.cash1{
	margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    width: 75px;
    color: #666;
    float: left;

}
.cash2{
	font-size: 26px;
    color: #D22046;
    font-weight: bold;
    display: inline-block;
    float: left;
}
.money{
	font-size: 26px;
    color: #D22046;
    font-weight: bold;
    display: inline-block;
}
.cash3{
	display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 14px;
	float: left;
}
.money1{
	display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 14px;
}
.zd-prt{
	margin-top: 8px;
    margin-bottom: 8px;
    color: #D22147;
    
}
.low{
	display: inline-block;
    width: 50px;
    padding: 0 2px;
    color: #FFF;
    background-color: #D22147;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
}
.activites,.post,.postcost{
	margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    width: 75px;
    color: #666;
    
}
.postage{
	height: 24px;
	padding-top: 8px;
	color: #666;
}

.postTag{
	margin-top: 10px;
}
.tag{
	display: inline-block;
	color: #c30c38;
	margin-right: 3px;
}
.adress{
	display: inline-block;
	margin-right: 10px;
}
.notage{
	display: inline-block;
	padding: 3px;
	margin-left: 10px;
}
.notage2{
	display: inline-block;
	padding: 3px;
	margin-left: 10px;
	position: relative;

}
#notage2{
	display: inline-block;
	padding: 3px;
	border: solid 1px #666666;
	margin-left: 10px;
	cursor: pointer;
}
.alladd{
	position: absolute;
	top: 30px;
	left: -123px;
	display: none;
	background: white;
}
.sendfree{
	padding: 10px;
	margin-left: 10px;
	position: relative;
	width: 40px;
	height: 20px;
}
.reat{
	padding: 10px;
	border: 1px solid #d5d5d5;
	border-bottom: solid 1px white;
	position: absolute;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
	padding-bottom: 1px;
	top:0;
	left: -1px;
	width: 80px;
	height: 16px;
	background: white;
	display: none;
}
.desc{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 335px;
    padding: 10px 15px;
    line-height: 22px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    display: none;
}

.allprovince>span{
	padding: 2px 19px;
	display: inline-block;
}

.startsend{
	color: #666666;
}
.neicun{
	margin-top: 10px;
}
.g32{
	border-color: #D41C44;
/*    color: #D41C44;*/
	color: #666666;
    border-width: 2px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: solid 1px #666666;
    cursor: pointer;
}

.color{
	margin-top: 10px;
}
.color>a{
	display: inline-block;
	margin-right: 5px;
	border: 1px #666666 solid;
	width: 52px;
	height: 52px;
}
.color>a>img{
	width: 52px ;
	height: 52px;
}


.numberphone,.btn{
	margin-top: 30px;
}
.ctrnum{
	display: inline-block;
    border: 1px solid #CCC;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
.ctrnum>a{
	display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-family: "iconfont";
    text-decoration: none;
    color: #333;
    vertical-align: top;  
}
.ctrnum>a:first-child{
	border-right: 1px solid #CCC;
}
.ctrnum>a:last-child{
	border-left: 1px solid #CCC;
}
.ctrnum>input{
	width: 38px;
    padding: 4px 5px;
    margin: 0;
    line-height: 1;
    height: 14px;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    color: #333;
    border: none;
    outline: none;
    font-family: tahoma, arial, simsun, "宋体";
    box-sizing: content-box;
}


#buybtn{
	width: 160px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    background-color: #D22147;
    border: none;
    margin-right: 8px;
    font-size: 18px;
    border: 0;
    font-weight: bold;

}
#favbtn{
	display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 158px;
    height: 50px;
    line-height: 50px;
    color: black;
    border: 1px solid #666666;
}
.tuikuan{
	line-height: 30px;
}
.comment>i{
	margin-right: 5px;
	color: red;
}
.comment span{
	margin-right: 15px;
	display: inline-block;
	font-size: 16px;
}
.comment>span:first{
	color: red;
}
.execomment{
	padding: 2px 90px 10px 0;
    margin-top: 11px;
    border-top: 1px dotted #CCC;
    color: #666;
    font-size: 13px;
    position: relative;
    min-height: 51px;
}
.up{
	position: absolute;
	top: 10px;
	right: 5px;
}
.down{
	position: absolute;
	top: 20px;
	right: 5px;
}

/**************************************猜你喜欢*************************************/
#guess{
	width: 1090px;
}
#guess>ul{
	border: 1px solid #eaeaea;
    background: #fff;
}
#guess>h4{
    font-size: 25px;
    font-weight: bold;
    color: black;
}
#guess>h4>span{
	font-size: 14px;
    color: #999;
    font-weight: normal;
}
#guess ul>li{
	margin: 0;
	float: left;
    border: 0;
    border-right: 1px solid #eaeaea;
    width: 271px;
    height: 350px;
}
#guess ul>li:last-child{
	border-right: none;
}
#guess img{
	width: 270px;
	height: 270px;
}
.guessTxt{
	font-size: 12px;
    color: #E31436;
    padding: 0 10px;
}
.guessTxt>h3{
	line-height: 20px;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    word-break: break-all;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.guestprice{
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
.guessline{
	margin-left: 5px;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	text-decoration: line-through;
}
.pingjia{
	font-size: 12px;
	color: #999;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*************************看了又看区**************************************/
.maincomment{
	width: 1090px;
    margin-top: 40px;
}
.siderBox{
	float: left;
    width: 180px;
    margin-right: 18px;
    margin-bottom: 15px;
    border: #EAEAEA 1px solid;
}
.siderBox>h4{
	font-weight: bold;
    color: #333;
    font-size: 16px;
    padding: 8px 10px;
    border-bottom: 1px solid #EAEAEA;
}
.siderBox li{
	margin: 0 10px;
    padding: 10px 0 16px;
    border-bottom: 1px solid #EAEAEA;
}




/******************************评论区******************************************8*/

.detailBox{
	width: 890px;
    float: left;

}
.commentNav{
	width: 888px;
    height: 48px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
}
.commentNav span{
	float: left;
    display: inline-block;
    border-right: 1px solid #EAEAEA;
    width: 159px;
    color: #333;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}
.commentNav .active{
	color: #D41C44;
    background-color: #FFF;
    font-weight: bold;
}
.commentNav .active i{
	position: absolute;
    height: 45px;
    line-height: 0;
    width: 100%;
    top: -1px;
    left: 0;
    border-top: 4px solid #D41C44;
    border-bottom: 1px solid #FFF;
}
.gooddetail,.commentdetail{
	border-bottom: 1px solid #EAEAEA;
}
.gooddetail>ul,.commentdetail>ul{
	padding: 20px 0px;
    overflow: hidden;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
}
/*详情区*/
.gooddetail>ul>li{
	padding: 0 10px;
}
.gooddetail>ul>li>img{
	width: 100%;
}
.phoneBrane{
	position: relative;
	padding: 10px 0px 30px;
	

}
.caretPhone{
	position: absolute;
	bottom: 0px;
	left: 10px;
	
}
.phoneBrane>li{
	line-height: 35px;
	font-size: 16px;
	height: 35px;
	float: left;
	width: 230px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
}
.gooddetail>ul>.phonecommit{
	padding: 15px 20px;
	border-bottom:1px solid #EAEAEA ;
	border-top:1px solid #EAEAEA ;
}
#true{
	width: 40px;
	height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #d22147;
    color: #fff;
    font-size: 20px;
    float: left;
}
#commit{
	float: left;
    margin-right: 70px;
    width: 700px;
    line-height: 30px;
    font-size: 16px
}
#commit h4{
	font-weight: bold;
	font-size:20px ;
}
/***************************发表评论****************************************/

.sendcomment{
	border-left:1px solid #EAEAEA ;
	border-right:1px solid #EAEAEA ;
	padding: 10px;
}
.commentText{
	width: 868px;
	border: 1px solid #EAEAEA;
	height: 200px;
}
#textphone{
	border: 0;
	width: 100%;
	height: 200px;
}
#phoneBtn{
	width: 90px;
	height: 40px;
	text-align: center;
	background: red;
	line-height: 40px;
	border: 0;
	font-size: 25px;
	margin: 20px auto;
	border-radius: 20px;
}

.commentdetail>ul>li{
	padding: 10px;
	border-bottom: 1px solid #EAEAEA;
}
.commentitem{
	display: inline-block;
    margin-right: 9px;
    background: #D22147;
    color: #FFF;
    padding: 0px 6px;
    line-height: 18px;
    font-size: 12px;
}
.comment1{
	width: 88px;
    text-align: center;
    float: left;
}
.avater{
	margin: 6px auto 5px auto;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: url(../img/detail/american.png) no-repeat center center;
    
}
.comment2{
	width: 500px;
	float: left;
	margin-left: 10px;
}
.comment3{
	float: right;
	font-size: 12px;
    color: #999;
}
.thumup{
	width: 50px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 7px 0 7px 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 20px;
}
/*************************固定页面的导航菜单**************************************/





.rightFi{
	border: 1px solid #eaeaea;
	position: fixed;
	top:66px;
	right: 0;
	z-index: 1000;
}
#rTab li{
	position: relative;
}
#rTab li a{
	display: block;
    width: 58px;
    height: 48px;
    padding: 10px 0 0;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #999;
}
#rTab li .Totop{
	background: #999999;
	color: white;
}
#rTab li a:hover{
	color: #E31436;
}

.appTab{
	border: solid 1px #CCCCCC;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: red;
	position: absolute;
	top:0px;
	left: -118px;
	z-index: 1001;
	background: white;
	display: none;
	background: white;
}
.flagTab{
	width: 99px;
    height: 46px;
    border: solid 1px #CCCCCC;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: -102px;
    z-index: 700;
    background: white;
    display: none;
}


/*************************list2**************************************/

 
