
#index_nav{
	width: 1090px;
	margin: 0 auto;
	height: 100px;
	position: relative;
	padding-top: 24px;
}
#index_fix{
	width: 1090px;
	margin: 0 auto;
	position: relative;
	
}
#index_fix .logo2{
	width: 251px;
	height: 50px;
	background: url(../img/images/logo2.png) no-repeat center center;
	cursor: pointer;
}
#index_fix .logo{
	cursor: pointer;
	width: 251px;
	height: 53px;
	background: url(../img/index/logo_03.png) no-repeat center center;
}


/*************************搜索框**************************************/
#index_fix .index_input{
	width: 511px;
	height: 60px;
	position: absolute;
	left: 343px;
	top: 7px;
	
}

#index_fix .input_search{
	width: 510px;
    height: 36px;
    padding-left: 1px;
    background-color: #333;
    position: relative;
}
.input_search .search{
	float: left;
    margin: 2px 1px;
    padding: 4px 5px 4px 30px;
    background-color: #fff;
}
.input_search #inputSearch{
	width: 423px;
    height: 24px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
    outline: none;
}
.input_search #prevSearch{
	position: absolute;
	left: 10px;
    top: 11px;
    color: #666;
}
.input_search #nextSearch{
	display: inline-block;
    height: 36px;
    width: 50px;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.index_input .suggestList{
	line-height: 22px;
    margin-top: 2px;
    width: 461px;
    height: 22px;
    overflow: hidden;
}
.index_input .suggestList li{
	float: left;
    white-space: nowrap;
}
.index_input .suggestList li span{
	margin: 0 10px;
    color: #999;
}
.index_input .suggestList li a{
	color: #999;
	font-size: 14px;
}

/*购物车的样式*/
#index_nav .shopCar{
	display: block;
    position: absolute;
    right: 0;
    top: 33px;
    width: 108px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
#index_nav .shopCar:hover{
	background: #f2f2f2;
}
#index_nav .shopCar .wrap{
	display: inline-block;
    padding-left: 6px;
    background: none;
    vertical-align: middle;
    color: #999;
}
#index_nav .shopCar i{
	color: #999999;
}



/*tab列表*/
#index_topTap{
	height: 40px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;
}
#index_topTap>a>img{
	position: absolute;
	bottom:0px ;
	right: 56px;
	z-index: 57;
}
#topMenu{
    width: 1090px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

#topMenu_list{
	float: left;
    height: 40px;
    width: 160px;
    background: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
    position: relative;
}

/*所有分类*/
#topCart{
	display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: left;
    border-bottom: 2px solid #151515;
}
#topCart .lineicon{
	display: inline-block;
    margin: 0 15px 0 27px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}
#topCart .lineicon i{
	width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

/*下拉菜单*/
#topMenu_list .jCartMenu{
	position: absolute;
	border-bottom: 1px solid #000;
	width: 160px;
    
}
#topMenu_list .jCartMenu>li{
	background: rgba(15,15,15,.82);    
	padding-left: 10px;
    width: 150px;
    cursor: pointer;
    text-align: left;
    border-bottom:rgba(255,255,255,.05) solid 1px;
    position: relative;
    z-index: 50;
}
#topMenu_list .jCartMenu>li:hover{
	padding-left: 7px;
	border-left:3px solid red ;
	background: #555555;
}

#topMenu_list .jCartMenu li .icon{
    vertical-align: middle;
    padding: 0 12px 0 14px;
}

/*二级菜单频道*/
.cartList{
	position: absolute;
	top:0px;
	background: #f6f6f6;
	width: 100px;
	left: 160px;
    position: absolute;
    z-index: 75;
    width: 930px;
    overflow: hidden;
    border: 1px solid #333;
    border-width: 0 1px 1px 0;
    text-align: left;
    color: #333;
    cursor: auto;
    display: none;
}
.cartList .ctglist{
	float: left;
    margin: 10px 0px 20px 20px;
    width: 561px;
    overflow: hidden;
    background: white;
    height: 380px;
}
.shopList li{
	float: left;
    width: 222px;
    /* height: 300px; */
    line-height: 20px;
    padding: 45px 48px 10px 10px;
}
.shopList li h4{
	border-bottom:solid 1px black ;
	padding-bottom: 5px;
}
.shopList li span{
	margin: 0 10px;
    color: #999;
}
.cartList .mbranbox{
	float: right;
    width: 299px;
    padding: 20px 17px 0;
    background: #f6f6f6
}
.imgbox a{
	display: block;
    float: left;
    height: 90px;
}
.imgbox>a>img{
	width: 88px;
    height: 88px;
    border: solid 1px #CCCCCC;
}
.imgbo2{
	padding-top: 10px;
}
.imgbox2>a>img{
	width: 244px;
    height: 100px;
}


/*导航菜单*/
#funcTab{
	height: 40px;
    float: left;
    padding-left: 20px;
}
#funcTab li{
	float: left;
	height: 40px;
    overflow: hidden;
    padding: 0 20px;
}
#funcTab li a{
	display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}


/************************轮播图*****************************/
    #focus {
        position: relative;
        width: 1263px;
    }
    #focus img{
    	width: 1263px;
    	height: 410px;
    }
    
    #bigpic {
        height: 410px;
    }
    
    #bigpic li {
        position: absolute;
        top: 0;
        left: 0;
    }
    #smallpic{
    	position: absolute;
    	bottom: 20px;
    	right: 500px;
    }
    #smallpic li {
        display: inline-block;
    }
    #smallpic li span{
    	display: block;
    	width: 20px;
    	height: 20px;
    	border-radius:10px ;
    	background: white;
    	text-align: center;
    	line-height: 20px;
    	cursor: pointer;
    }
    
    #smallpic li span.active{
    	background: red;
	
    }
    
    
    #focus .prev,
    #focus .next {
        position: absolute;
        top: 50%;
        margin-top: -40px;
        padding: 10px;
        background: rgba(0, 0, 0, .2);
        font-size: 30px;
        color: #ccc;
        text-decoration: none;
    }
    
    #focus .next {
        left: auto;
        right: 10px;
    }
    #focus .prev{
    	left: 250px;
    }
    
    #focus .prev:hover,
    #focus .next:hover {
        background-color: rgba(0, 0, 0, .5);
    }
    
  
  /*--轮播图的底边--*/  
#index_sellpoint{
	margin-bottom: 20px;
    height: 44px;
    border-bottom: 1px solid #EAEAEA;
    background-color: #fff;
}
#contWarp{
	margin: 0 auto;
    width: 1090px
}
#contWarp .sellpoint{
	float: left;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #999;
}
.sellpoint>a{
	float: left;
    margin-right: 40px;
    color: #999;
    text-decoration: none
}
.sellpoint>a:hover{
	color:#E01F35 ;
}
.sellpoint>a>i{
	margin-right: 7px;
}
#dowonload{
	float: right;
	color: #E01F35;
    line-height: 44px;
}
#dowonload>i{
	margin-right: 5px;
    font-size: 15px;
    vertical-align: -2px;
}
#dowonload>a{
	color: #E01F35;
	font-size: 14px;
}

/*************************list1**************************************/

#list1{
	margin: 0 auto;
    width: 1090px;
    position: relative;
    margin-bottom: 40px;
}
#list1>ul>li{
	float: left;
	margin-right: 7px;
}
.leftTab{
	position: absolute;
	top: 0;
	left: -99px;
	background: white;
	z-index: 150;
}
.leftFi{
	position: fixed;
	top: 66px;
	left: 0px;
	background: white;
	z-index: 150;
}
.chanel{
	border: 1px solid #eaeaea;
    border-bottom: none;
}
.chanel li a{
	display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea
}
.leftFoot{
	border: 1px solid #eaeaea;
    border-top: none;
}
.leftFoot li a{
	display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}
.chanel li a:hover,.leftFoot li a:hover{
	color:red ;
	background: #f2f2f2;
}


.rightPo{
	border: 1px solid #eaeaea;
	position: absolute;
	top:0;
	right: -81px;
}
.rightFi{
	border: 1px solid #eaeaea;
	position: fixed;
	top:66px;
	right: 0;
	z-index: 1000;
}
#rTab li{
	position: relative;
}
#rTab li a{
	display: block;
    width: 58px;
    height: 48px;
    padding: 10px 0 0;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #999;
}
#rTab li .Totop{
	background: #999999;
	color: white;
}
#rTab li a:hover{
	color: #E31436;
}

.appTab{
	border: solid 1px #CCCCCC;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: red;
	position: absolute;
	top:0px;
	left: -118px;
	z-index: 5700;
	background: white;
	display: none;
	background: white;
}
.flagTab{
	width: 99px;
    height: 46px;
    border: solid 1px #CCCCCC;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: -102px;
    z-index: 700;
    background: white;
    display: none;
}

/*************************list2**************************************/

#list2{
	margin: 0 auto;
	width: 1090px;
	margin-top: 5px;
	position: relative;
	margin-bottom: 40px;
}
#list2>h2{
	font-size: 14px;
}

/*List的公共属性*/
#index_List .big{
	margin-right: 10px;
	font-size: 25px;
	font-weight: bold;
	color: black;
}
#index_List h2{
	font-size: 14px;
	color: #999;
}



#list2 .timeBox{
	margin-left: 8px;
    display: inline-block;
    height: 20px;
}
#list2 .timeBox i{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: black;
	color: white;
}
#list2 .gomore{
	position: absolute;
    top: 6px;
    right: 0px;
    color: #333;
}
#list2 .gomore:hover{
	text-decoration: underline;
}

#list2 .list2_good{
	border-top: 2px solid #333;
}
.list2_good>ul{
	float: left;
    width: 868px;
    border-left: 1px solid #eaeaea;
}
.list2_good>ul>li{
    float: left;
    width: 433px;
    height: 189px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;

}
.list2_good>ul>li>dl>dt{
	display: inline-block;
    float: left;
/*    margin-right: -188px;*/
    width: 188px;
    height: 188px;
}
.list2_good>ul>li>dl>dd{
	position: relative;
    float: right;
    margin-right: 20px;
    width: 205px;
    height: 188px;
}
.list2_good>ul>li>dl>dd>h3{
	margin: 20px 0 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
}
.list2_good .p1{
	font-size:12px ;
	color: gray;
}
.list2_good .price{
	margin: 14px 0 2px;
    font-size: 24px;
    font-weight: bold;
    color: #E11935;
}
.price>span{
	margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    text-decoration: line-through;
}
.propress{
	position: relative;
    width: 100px;
    height: 18px;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    color: #DE2634;
    border: 1px solid #F3C7C7;
    overflow: hidden;
}
.propress>b{
	width: 4%;
}
.propress>p{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.list2_good .aside{
	float: right;
    width: 221px;
    height: 378px;
}

/*****************list3********************/

#list3,#list4,#list5{
	width: 1090px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#list3 h2{
    position: relative;
}
#list3 ul{
	box-shadow: none;
    border-top: 2px solid #333;
}

#list3 .big{
	margin-right: 10px;
}
#list3 .gomore{
	position: absolute;
    top: 6px;
    right: 0px;
    color: #333;
}

#list3 li{
	 width: 217px;
    height: 307px;
    font-size: 12px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 1px;
    float: left;
}
#list3 li>a{
    display: block;
    text-align: center;
    cursor: pointer;
}
#list3 .txt{
	margin: 0 15px;
}
#list3 h3{
	font-size: 12px;
    line-height: 18px;
    height: 36px;
    font-weight: bold;
}
#list3 .txt p .zhe{
	display: inline-block;
    border: 1px dotted #E31436;
    padding: 1px 2px;
    color: #E31436;
}
#list3 .price{
	margin: 4px 0 2px;
    font-size: 16px;
    font-weight: bold;
    color: #E11935;
}
#list3 .line{
	margin: 0 8px 0 0;
	text-decoration: line-through;
}
#list3 .itme5 img{
	height: 307px;
}


#list4 ul{
	border: 1px solid #eaeaea;
    background: #fff;
}
#list4 ul li{
	float: left;
    width: 271px;
    height: 380px;
    border-right: 1px solid #eaeaea;
    font-size: 14px;
    text-align: center;
    position: relative;
} 
#list4 .img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 157px;
    left: 102px;
	border-radius:40px ;
	border: 1px solid gray;
	overflow: hidden;
}
#list4 .txt{
	padding-top:30px ;
}


/*接下来都一样的样式*/
.listTitle{
	position: relative;
}
.listTitle>h2>.big{
	margin-right: 20px;
}
.listTitle>h2>.sep{
	margin: 0 10px;
    color: #999;
}
.listTitle>h2>.gomore{
	position: absolute;
	right: 0px;
	bottom: 0;
}
.listTitle>h2>a{
	color: #666;
}
.listTitle>h2>.keyword{
	color: #E31436;
}
.cont{
	border: 1px solid #eaeaea;
    background: #fff;
    border-top: 2px solid #333;
    border-left: 0;
}
.cont .part1{
	position: relative;
	width: 246px;
	float: left;
}
.part1>ul{
	position: absolute;
    left: 26px;
    top: 24px;
    width: 246px;
}
.part1>ul>li{
	float: left;
    margin: 0 10px 10px 0;
}
.part1>ul>li>a{
	display: block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    color: #333;
    border-radius: 50%;
    background: #fff;
}
.part2{
	width: 600px;
	float: left;
}
.part2>ul>li{
	float: left;
    text-align: center;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px 0;
    width: 299px;
    height: 221px;
}
.par2>ul>li>a{
	display: block;
    padding: 20px 0 0;
    height: 200px;
}
.tit{
	font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    padding-top: 10px;
}
.dexs{
	font-size: 14px;
    line-height: 20px;
    margin: 0 10px 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #66666!important;
    line-height: 20px;
}

.part3{
	padding: 0 0 0 20px;
    width: 223px;
    float: left;
    background: white;
}
.part3Tit{
	font-size: 16px;
    line-height: 40px;
    padding: 10px 0 0;
    color: #333;
    font-weight: bold;
    margin: 0;
}
.prolist{
	width: 200px;
	height: 320px;
}
.prolistimg{
	float: left;
	padding: 10px;
}
.font{
	float: left;
	font-size: 12px;
	width: 100px;
	padding-top: 10px;
}
.font>p{
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	color: red;
}
.font>p>.price{
	font-size: 12px;
	color: #666;
	text-decoration: line-through;
	padding-left: 5px;
}

.logolist{
	margin: 10px 0 0;
    border: 1px solid #eaeaea;
    line-height: 108px;
    background: #fff
}
.logoTit{
	float: left;
    width: 118px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-indent: 30px;
}
.logolist>a{
	display: inline-block;
    float: left;
    margin: 0 0 0 12px;
    width: 108px;
}

/*猜你喜欢*/
#guess{
	width: 1090px;
	margin: 30px auto;
}
#guess>ul{
	border: 1px solid #eaeaea;
    background: #fff;
}
#guess>h4{
    font-size: 25px;
    font-weight: bold;
    color: black;
}
#guess>h4>span{
	font-size: 14px;
    color: #999;
    font-weight: normal;
}
#guess ul>li{
	margin: 0;
	float: left;
    border: 0;
    border-right: 1px solid #eaeaea;
    width: 271px;
    height: 350px;
}
#guess ul>li:last-child{
	border-right: none;
}
#guess img{
	width: 270px;
	height: 270px;
}
.guessTxt{
	font-size: 12px;
    color: #E31436;
    padding: 0 10px;
}
.guessTxt>h3{
	line-height: 20px;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    word-break: break-all;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.guestprice{
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
.guessline{
	margin-left: 5px;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	text-decoration: line-through;
}
.pingjia{
	font-size: 12px;
	color: #999;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	right: 0;
}
#index_fixbody{
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	z-index: 500;
	display: none;
}
