
#index_nav{
	width: 1090px;
	margin: 0 auto;
	height: 100px;
	position: relative;
	padding-top: 24px;
}
#index_fix{
	width: 1090px;
	margin: 0 auto;
	position: relative;
	
}
#index_fix .logo2{
	width: 251px;
	height: 50px;
	background: url(../img/images/logo2.png) no-repeat center center;
}
#index_fix .logo{
	cursor: pointer;
	width: 251px;
	height: 53px;
	background: url(../img/index/logo_03.png) no-repeat center center;
}


/*************************搜索框**************************************/
#index_fix .index_input{
	width: 511px;
	height: 60px;
	position: absolute;
	left: 343px;
	top: 7px;
	
}

#index_fix .input_search{
	width: 510px;
    height: 36px;
    padding-left: 1px;
    background-color: #333;
    position: relative;
}
.input_search .search{
	float: left;
    margin: 2px 1px;
    padding: 4px 5px 4px 30px;
    background-color: #fff;
}
.input_search #inputSearch{
	width: 423px;
    height: 24px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
    outline: none;
}
.input_search #prevSearch{
	position: absolute;
	left: 10px;
    top: 11px;
    color: #666;
}
.input_search #nextSearch{
	display: inline-block;
    height: 36px;
    width: 50px;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.index_input .suggestList{
	line-height: 22px;
    margin-top: 2px;
    width: 461px;
    height: 22px;
    overflow: hidden;
}
.index_input .suggestList li{
	float: left;
    white-space: nowrap;
}
.index_input .suggestList li span{
	margin: 0 10px;
    color: #999;
}
.index_input .suggestList li a{
	color: #999;
	font-size: 14px;
}

/*购物车的样式*/
#index_nav .shopCar{
	display: block;
    position: absolute;
    right: 0;
    top: 33px;
    width: 108px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
#index_nav .shopCar:hover{
	background: #f2f2f2;
}
#index_nav .shopCar .wrap{
	display: inline-block;
    padding-left: 6px;
    background: none;
    vertical-align: middle;
    color: #999;
}
#index_nav .shopCar i{
	color: #999999;
}



/*tab列表*/
#index_topTap{
	height: 40px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;
}
#index_topTap>a>img{
	position: absolute;
	bottom:0px ;
	right: 56px;
	z-index: 57;
}
#topMenu{
    width: 1090px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

#topMenu_list{
	float: left;
    height: 40px;
    width: 160px;
    background: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
    position: relative;
}

/*所有分类*/
#topCart{
	display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: left;
    border-bottom: 2px solid #151515;
}
#topCart .lineicon{
	display: inline-block;
    margin: 0 15px 0 27px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}
#topCart .lineicon i{
	width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

/*下拉菜单*/
#topMenu_list .jCartMenu{
	position: absolute;
	border-bottom: 1px solid #000;
	width: 160px;
	display: none;
    
}
#topMenu_list .jCartMenu>li{
	background: rgba(15,15,15,.82);    
	padding-left: 10px;
    width: 150px;
    cursor: pointer;
    text-align: left;
    border-bottom:rgba(255,255,255,.05) solid 1px;
    position: relative;
    z-index: 50;
}
#topMenu_list .jCartMenu>li:hover{
	padding-left: 7px;
	border-left:3px solid red ;
	background: #555555;
}

#topMenu_list .jCartMenu li .icon{
    vertical-align: middle;
    padding: 0 12px 0 14px;
}

/*二级菜单频道*/
.cartList{
	position: absolute;
	top:0px;
	background: #f6f6f6;
	width: 100px;
	left: 160px;
    position: absolute;
    z-index: 75;
    width: 930px;
    overflow: hidden;
    border: 1px solid #333;
    border-width: 0 1px 1px 0;
    text-align: left;
    color: #333;
    cursor: auto;
    display: none;
}
.cartList .ctglist{
	float: left;
    margin: 10px 0px 20px 20px;
    width: 561px;
    overflow: hidden;
    background: white;
    height: 380px;
}
.shopList li{
	float: left;
    width: 222px;
    /* height: 300px; */
    line-height: 20px;
    padding: 45px 48px 10px 10px;
}
.shopList li h4{
	border-bottom:solid 1px black ;
	padding-bottom: 5px;
}
.shopList li span{
	margin: 0 10px;
    color: #999;
}
.cartList .mbranbox{
	float: right;
    width: 299px;
    padding: 20px 17px 0;
    background: #f6f6f6
}
.imgbox a{
	display: block;
    float: left;
    height: 90px;
}
.imgbox>a>img{
	width: 88px;
    height: 88px;
    border: solid 1px #CCCCCC;
}
.imgbo2{
	padding-top: 10px;
}
.imgbox2>a>img{
	width: 244px;
    height: 100px;
}


/*导航菜单*/
#funcTab{
	height: 40px;
    float: left;
    padding-left: 20px;
}
#funcTab li{
	float: left;
	height: 40px;
    overflow: hidden;
    padding: 0 20px;
}
#funcTab li a{
	display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}


/************************详情页面*****************************/
#detailList{
	background: #F2F2F2;
}

/*自动设置所有的列表为1090px*/
.listTab{
	width: 1090px;
    margin: 0 auto;
    
}
.listheader{
	padding: 15px 0 10px;
    line-height: 22px;
    font-size: 12px;
}
.all{
	color: #333;
}
.gun{
	margin-left: 15px;
    height: 22px;
    display: inline-block;
    line-height: 24px;
    color: #999;
    font-size: 12px;
}
.gun>i{
	color: #D22147;
	font-style: normal;
	font-weight: bold;
}

/*导航列表*/
.opertation{
	margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
}
.branbox,.classfix,.country{
	border-bottom: 1px dotted #eaeaea;
	background: #f8f8f8;
	position: relative;
	z-index: 1;
}
.branmore{
	font-size: 13px;
    cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 10px;
}
.branmore:hover{
	color: #D22147;
}

.aTab>dt{
	float: left;
    width: 75px;
    height: 100%;
    padding-top: 15px;
    padding-left: 15px;
    color: #666;
    font-size: 13px;
    line-height: 14px;
}
.aTab>dd{
	float: left;
	background: white;
}
#oTab>li{
	float: left;
	padding: 5px;
    margin: 10px 15px;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    border: 1px solid transparent;
}
#oTab>li.active{
    color: #D22147;
    border: 1px solid #D22147;
}
#oTab>li:first-child{
	margin-left: 15px;
}
.brans{
	margin-left: 15px;
	padding-right: 27px;
    padding-top: 15px;
    background-color: #fff;
    width: 956px;
}
.brans>a{
	width: 130px;
	float: left;
    display: inline-block;
    position: relative;
    padding-right: 24px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ctag>li{
	float: left;
    padding:21px 12px 12px;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.commonDD{
	background: white;
	width: 998px;
}
.classfix{
	border-bottom: none;
}

/*************************筛选框**************************************/
.filiter{
	height: 36px;
    background-color: #fff;
}
.order{
	float: left;
}
.order>li{
	float: left;
    width: 76px;
    height: 36px;
    line-height: 36px;
    margin: -1px;
    margin-left: 0;
    font-size: 13px;
    color: #333;
    border: 1px solid #eaeaea;
    cursor: pointer;
    text-align: center;
}
.order>li.active{
	position: relative;
    border: 1px solid #D22147;
    color: #D22147;
}
.pricebox{
	float: left;
    width: 189px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
    font-size: 14px;
}
.ipt{
	width: 48px;
    line-height: 18px;
    padding-left: 5px;
    border: 1px solid #ddd;
}
.ipt:hover{
	box-shadow:0 0 10px #0CC;
}
.jtag{
/*	display: none;*/
    line-height: 16px;
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
    background: #D22147;
    border: 0;
    cursor: pointer;
}
.m-checkbox{
	float: left;
	margin-left: 20px;
    line-height: 36px;
    font-size: 13px;
    cursor: pointer;
}
.singlePage{
	float: right;
	margin-right: 15px;
    margin-top: 9px;
    line-height: 12px;
    font-size:18px ;
}
.num>i{
	color: #D22147;
}

/*************************产品列表**************************************/

.goods{
	position: relative;
    float: left;
    width: 262px;
    margin: 0 4px 14px;
    background-color: #fff;
    font-size: 12px;
    border: white solid 1px;
    z-index: 1;
    height: 444px;
/*    overflow: hidden;*/
}
.goodbook{
	position: absolute;
    width: 262px;
    background-color: #fff;
    font-size: 12px;
    border: white solid 1px;
    z-index: 30;
/*    height: 472px;*/
}

.tocart{
	position: absolute;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 49px;
    top: 229px;
    right: 10px;
    z-index: 100;
    background: gray;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}
.tocart:hover{
	color:#D22147;
}
.goodimg{
	position: relative;
	width: 262px;
	height: 265px;
}
.phoneimg{
	width: 262px;
	height: 265px;
	position: absolute;
	top: 0;
	left: 0;
}

.img-group{
	padding: 5px;
}
.smallImg{
	display: inline-block;
	
}
.smallImg>img{
	width: 30px;
	height: 30px;
	border: 1px solid gray;
}
.imgprice{
	width: 234px;
    padding: 0 14px 11px;
    font-size: 14px;
}
.price{
	height: 24px;
    color: #D22147;
    position: relative;
    margin-bottom: 5px;
}
.cur{
	display: inline-block;
    margin-right: 2px;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
.cur i{
	font-size: 12px;
    font-weight: bold;
    font-style: normal;
}
.count{
	position: relative;
    top: -4px;
    display: inline-block;
    padding: 0 4px;
    border: 1px dotted #D22147;
    font-size: 12px;
    color: #D22147;
    font-weight: bold;
    line-height: 18px;
}
.markey{
	color: #999;
    line-height: 24px;
    position: absolute;
    right: 0px;
}

/*出现所有的文字*/
.titleWarp .title{

    width: 234px;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
    overflow: hidden;
    line-height: 20px;
    display: block;
}
.titleWarp .notitle{
    width: 234px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    display: block;
}
.sale{
	position: relative;
    width: 234px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    font-size: 13px;
    color: #D22147;
}
.saletile{
   	position: relative;
    width: 234px;
    overflow: hidden;
    line-height: 20px;
    font-size: 13px;
    color: #D22147; 

}
.activite{
	display: inline-block;
    height: 16px;
    padding: 0 6px;
    margin-right: 4px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-size: 12px;
    background-color: #FFA64D;
}
.goodinfo{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.goodinfo>a{
    display: inline-block;
    color: #333;
    font-weight: bold;
}
.adress{
	max-width: 110px;
    color: #999;
    position: absolute;
    right: 0;
}
.selffage>a{
	width: 234px;
    height: 18px;
    color: #666;
    text-decoration: underline;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

/*************************分页框**************************************/
.page{
	padding: 30px 20px;
	padding-left: 100px;
}
.page>span{
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border: 1px solid gray;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	cursor: pointer;
}
/*.page>span:hover{
	background: red;
}*/


/*************************固定页面的导航菜单**************************************/





.rightFi{
	border: 1px solid #eaeaea;
	position: fixed;
	top:66px;
	right: 0;
	z-index: 1000;
}
#rTab li{
	position: relative;
}
#rTab li a{
	display: block;
    width: 58px;
    height: 48px;
    padding: 10px 0 0;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #999;
}
#rTab li .Totop{
	background: #999999;
	color: white;
}
#rTab li a:hover{
	color: #E31436;
}

.appTab{
	border: solid 1px #CCCCCC;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: red;
	position: absolute;
	top:0px;
	left: -118px;
	z-index: 1001;
	background: white;
	display: none;
	background: white;
}
.flagTab{
	width: 99px;
    height: 46px;
    border: solid 1px #CCCCCC;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: -102px;
    z-index: 700;
    background: white;
    display: none;
}

/*************************list2**************************************/

 
