#loginHeader{
	height: 100px;
    background: #fff;
    border-bottom: 1px solid #E8E8EA;
}


.loginlist{
    width: 1000px;
    width: 1090px;
    height: 75px;
    margin: 0 auto;
    padding-top: 25px;
}
.loginLogo{
	width: 210px;
	height: 46px;
	background: url(../img/images/loginLogo4.png) no-repeat center;
	float: left;
}
.loginlist>ul{
	float: right;
}
.loginlist>ul>li{
	float: left;
	width: 189px
}
.loginlist dl dt{
	float: left;
	padding-right:10px ;
}
.loginlist dl dd{
	float: left;
}
.loginlist dl dd strong{
	font-size: 18px;
}
.loginlist dl dd span{
	font-size: 14px;
}
/*************************************登录界面*****************************************/
#loginbody{
	background: url(../img/images/background.jpg) no-repeat -557px 95px;
}
#loginBody{
	background: #f9df32;
}
.login{
	width: 1000px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.loginWrap{
	position: absolute;
    z-index: 2;
    right: 168px;
    top: 80px;
    width: 350px;
    border: 1px solid #eaeaea;
    background-color: #fff;
}
.loginForm h2{
	height: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #333;
    padding: 27px 40px 10px;
}

/*表单登录界面*/
#loginBox{
	min-height: 212px;
    padding: 10px 40px 15px;
    width: 270px;
    padding: 10px 40px 15px;
}

#loginBox ul li{
	height: 34px;
    line-height: 30px;
    margin-bottom: 0px;
    background: #fff;
    font-size: 12px;
    position: relative;
    margin-bottom: 16px;
}
#loginBox ul li:nth-child(1),#loginBox ul li:nth-child(2){
	border: 1px solid #c5cddb;
}

/*用户名*/
#account{
	border: none;
	height: 34px;
	width: 228px;
	background: #fff;
    font-size: 12px;
    line-height:30px ;
    padding-left: 40px;
    color: #666666;
}
#account:focus{
	border: none;
}
#user{
	position: absolute;
	z-index: 6;
	top:0;
	left: 0;
	width: 34px;
	height: 32px;
	border-right: 1px solid #c5cddb;
	font-size: 20px;
	line-height: 32px;
	margin: 1px 0;
	text-align: center;
	color: gray;
}

/*密码*/
#password{
	border: none;
	height: 34px;
	width: 228px;
	background: #fff;
    font-size: 12px;
    line-height:30px ;
    padding-left: 40px;
    color: #666666;
}
#password:focus{
	border: none;
}
#pass{
	position: absolute;
	z-index: 6;
	top:0;
	left: 0;
	width: 34px;
	height: 32px;
	border-right: 1px solid #c5cddb;
	font-size: 20px;
	line-height: 32px;
	margin: 1px 0;
	text-align: center;
	color: gray;
}

/*关闭按钮*/
.close{
	position: absolute;
	z-index: 6;
	top: 0;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 7px 7px;
	color: white;
	background: gray;
	text-align: center;
	line-height: 20px;
	font-size: 10px;
	cursor: pointer;
	display: none;
}

/*错误提示框*/
#errorLo{
	display: none;
}

.errorRe{
	color: #fa5b5b;
	display: block;
	padding-left: 20px;
    width: 250px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    background: url(../img/images/error.png) center left no-repeat;

}
.forget{
	position: relative;
}
.freeLogin{
	display: inline-block;
    height: 16px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
}
.forpass{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

button{
	background-color: #F5345E;
	text-align: center;
	color: #fff;
	display: block;
    width: 100%;
    height: 34px;
    cursor: pointer;
    font-size: 18px;
    line-height: 34px;
    border: none;
}

/**************************************转到注册页面*********************************8*/
.registerTo{
	text-align: center;
    color: #666;
    font-size: 12px;
}
.registerTo>a{
	color: #51B8F1;
	padding-left: 5px;
}
#we{
	border-top: 1px solid #eaeaea;
    padding: 10px 0 10px 29px;
    width: 320px;
}
#we img{
	width: 20px;
	height: 20px;
}
#we li{
	float: left;
    width: 43px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    text-align: center;
}
#we .text{
	width: 122px;
	font-size: 12px;
}
.wx{
	border-left: 1px solid #eaeaea;
}
.wb{
	border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.qucode{
	position: absolute;
    left: 100%;
    top: -1px;
    width: 148px;
    height: 100%;
    border: 1px solid #eaeaea;
    background-color: #fff;
    background: url(../img/images/app.png) no-repeat center center;
    background-color: white;
}

.mask{
	position:fixed; 
	top:0; 
	right: 0; 
	bottom:0; 
	left: 0; 
	opacity:.3; 
	background:#000; 
	z-index:99; 
	display:none;
}
.mask>i{
	font-size:38px; 
	display:block; 
	position:absolute; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%); 
	color:#fff;
}