
body{
	background: #f2f2f2;
	color: rgb(102, 102, 102);
    font: 12px/1.14 "Microsoft YaHei", 微软雅黑, 宋体, helvetica, "Hiragino Sans GB";
}
.titleRe{
	width: 1000px;
	margin: 0 auto;
	height: 130px;
	background: #f2f2f2;
	position: relative;
	z-index: 1;
}
.titleLgo{
	width: 177px;
	height: 39px;
	background: url(../img/images/register.png) no-repeat;
	position: absolute;
	top: 35px;
	z-index: 2;
}
.titleBlock{
	font-size: 18px;
	position: absolute;
	
	right: 0;
	top: 50px;
	z-index: 2;
}
.titleBlock>a{
	color: #ca5252;
}


/******************************表单部分************************************/
.formRe{
    width: 1000px;
    min-height: 835px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 3px #cbc9c9;
}
.formTit{
	font-size: 24px;
	color: rgb(202, 82, 82);
    padding: 44px 0px 0px 70px;
}
#form_Regi{
	height: 620px;
    margin-top: 40px;
}

/****************************公共样式************************************/
#form_Regi li{
	height: 72px;
    width: 100%;
    background: white;
    position: relative;
    z-index: 3;
}
.u-label{
	float: left;
    width: 335px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
    letter-spacing: 1px;
    padding-right: 5px;
}

/****************************用户名************************************/
#account,#code{
	float: left;
    height: 44px;
    width: 200px;
    margin-top: 12px;
    border: solid 1px #ddd;
    font-size: 16px;
    text-indent: 0.5em;
}
.selectRe{
	float: left;
    width: 108px;
    height: 46px;
    margin-top: 12px;
    border-color: #ddd;
    margin-left: 10px;
    font-size: 14px;
}
.errorRe{
	color: #fa5b5b;
	display: block;
	float: left;
    margin-left: 10px;
    width: 250px;
    height: 72px;
    font-size: 12px;
    line-height: 72px;
    padding-left: 20px;
    background: url(../img/images/error.png) center left no-repeat;
    display: block;
}
.rightRe{
	color: #fa5b5b;
	display: block;
	float: left;
    margin-left: 10px;
    width: 250px;
    height: 72px;
    font-size: 12px;
    line-height: 72px;
    padding-left: 20px;
    background: url(../img/images/right.png) center left no-repeat;
    display: none;
}
.timesA{
	position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 4;
    background: #fff;
    top: 15px;
    left: 501px;
    font-size: 26px;
    cursor: pointer;
}

/****************************密码***********************************/
#password,#rpassword,#moblie{
	float: left;
    height: 44px;
    width: 320px;
    margin-top: 12px;
    border: solid 1px #ddd;
    font-size: 16px;
    text-indent: 0.5em;
}
.timesP{
	position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 4;
    background: #fff;
    top: 15px;
    left: 621px;
    font-size: 26px;
    cursor: pointer;
}
/****************************滑动条***********************************/
#vali{
	float: left;
    margin-top: 18px;
    border: solid 1px #ddd;
    font-size: 16px;
    text-indent: 0.5em;
    width: 320px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}
#slideBg{
	width: 322px;
    height: 34px;
    position: relative;
    z-index: 2;
    text-align: right;
    line-height: 34px;

}
#slideBg span{
	padding-right:20px ;
}
#slide{
	width: 72px;
	background: url(../img/images/slider.png);
	height: 32px;
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
}
/****************************找回手机***********************************/
#lookFor{
	float: left;
	line-height: 20px;
    width: 320px;
    margin-top: 12px;
}


.btn{
	float: left;
    height: 46px;
    width: 120px;
    font-size: 16px;
    line-height: 46px;
    margin: 12px 0 0 10px;
    color: #fff;
    background: #9ec5e3;
    text-align: center;
    display: block;
    cursor: pointer;
}
/****************************注册***********************************/
#btn-reg{
	float: left;
    border: 0;
    width: 322px;
    height: 46px;
    margin-top: 12px;
    background-color: #ca5252;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 46px;
    cursor: pointer;
}


/***********************************tip***********************************/
#tip{
	margin-top: 10px;
    color: #b1b1b1;
    float: left;
    width: 322px;
    font-size: 12px;
    line-height: 16px;
}
/**************************************底部*************************************/
.footRe{
	width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    color: #b1b1b1;
    padding: 38px 0;
}
.footRe a{
	padding: 0 6px;
	color: #b1b1b1;
}
