.logoCar{
	width: 1090px;
	margin: 0 auto;
	height: 100px;
	position: relative;
}
.logotop{
	position: absolute;
    left: 0;
    top: 29px;
    width: 220px;
    height: 45px;
    line-height: 45px;
    outline: none;
    cursor: pointer;
    background: url(../img/images/loginLogo4.png) no-repeat;
}

/**************************************表头样式***************************************/
.car{
	width: 1090px;
	margin: 0 auto;
}
img{
	width: 64px;
	height: 64px;
}
.title{
	margin-top: 10px;
	color: #999;
    border: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
}
.page{
	text-align: right;
	padding: 10px 0px;
}
.page>span{
	display: inline-block;
	margin-left:10px ;
	height: 20px;
	width: 30px;
	line-height: 20px;
	border: 1px solid #666666;
	text-align: center;
	cursor: pointer;
}
.col1{
	width: 114px;
	padding: 0 10px;
	float: left;
}

.u-chek{
	width: 17px;
    height: 18px;
    display: inline-block;
    zoom: 1;
    -webkit-appearance: none;
    background: url(../img/detail/checkboxIcons.png) no-repeat 0 -24px;
    outline: none;
	border: none;
	margin: -6px 10px 0 12px;
}

.u-chek:checked {
    background-position: 0 0;

}

.col2{
	width: 396px;
	padding: 0 10px;
	float: left;
}
.col3{
	width: 132px;
	padding: 0 10px;
	float: left;
}
.col4{
	width: 120px;
	padding: 0 10px;
	float: left;
}
.col5{
	width: 100px;
	padding: 0 10px;
	float: left;
}
.col6{
	width: 106px;
	padding: 0 10px;
	float: left;
}


/***********************************每个商店的样式********************************/

.shop{
	margin: 20px 0;
	border: 1px solid #eaeaea;
}
/*店铺小标题*/
.ware{
	padding: 7px 0 8px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #eaeaea;
}

/*店铺上面的小形式*/
.actinfo{
	position: relative;
    z-index: 2;
    padding: 10px 0 10px 80px;
    font-size: 14px;
    height: 30px;
    line-height: 30px
}
.actLabel{
	position: absolute;
    left: -1px;
    top: 10px;
    width: 68px;
    height: 30px;
    line-height: 30px;
    color: #e31436;
    text-align: center;
    font-size: 14px;
    background: url(../img/carshop/manjianIcons.png) no-repeat -10px -10px;
}
.actLabel2{
	position: absolute;
    left: -1px;
    top: 10px;
    width: 68px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    font-size: 14px;
    background: url(../img/carshop/manjianIcons.png) no-repeat -10px -50px;
}

.nextTure{
	color: #999;
    font-size: 14px;
}
.nextTure b{
	color: #e31436;
	font-size: 14px;
	padding: 0 5px;
}
.actlink{
	display: inline-block;
    zoom: 1;
    margin-left: 5px;
    font-size: 14px;
}


/*店铺的产品*/
.good{
	
}


.list1{
    width: 37px;
    position: relative;
    z-index: 100;
    float: left;
    padding-left:10px;
}
.list2{
	padding: 0 80px 45px 0;
    width: 425px;
    float: left;
/*    padding: 0 10px;*/
}
.goodcheck{
	margin-top: 17px;
}
.imgwarp{
	float: left;
    width: 64px;
    height: 64px;
}
.textwarp{
	margin-left: 20px;
    width: 310px;
    float: left;
}

.goodtlt>a{
	color: #333;
    font-size: 14px;
    display: block;
    line-height: 18px;
    font-weight:normal ;
}
.goodtlt>a:hover{
	color: #e31436;
}
.carcolor{
	color: #999;
    height: 20px;
    padding-top: 5px;
    font-size: 12px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list3{
	width: 102px;
	float: left;
	padding: 0 10px;
}
.oldprice{
	color: #999;
	font-size: 14px;
	padding-bottom: 4px;
}
.price{
	font-weight: bold;
    font-size: 14px;
    color: #333;
    display: block;
}

.list4{
	width: 152px;
	padding: 0 10px;
	float: left;
}

.list4>p{
    padding-top: 5px;
    color: #e31436;
    font-size: 12px;
}
/*加减框*/
.ctrnum{
	display: inline-block;
    border: 1px solid #CCC;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
.ctrnum>a{
	display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-family: "iconfont";
    text-decoration: none;
    color: #333;
    vertical-align: top;  
}
.ctrnum>a:first-child{
	border-right: 1px solid #CCC;
}
.ctrnum>a:last-child{
	border-left: 1px solid #CCC;
}
.ctrnum>input{
	width: 38px;
    padding: 4px 5px;
    margin: 0;
    line-height: 1;
    height: 14px;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    color: #333;
    border: none;
    outline: none;
    font-family: tahoma, arial, simsun, "宋体";
    box-sizing: content-box;
}


.list5{
	width: 100px;
	padding: 0 10px;
	float: left;
}
.sum{
	font-weight: bold;
    font-size: 14px;
}
.list6{
	width: 108px;
    padding: 0 7px;
    text-align: left;
    float: left;
}
.uopt{
	display: block;
    color: #333;
    cursor: pointer;
    line-height: 25px;
    height: 25px;
    font-size: 12px
}

.total{
	padding: 10px 43px 10px 20px;
    text-align: right;
    white-space: nowrap;
    border-top: 1px solid #eaeaea;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}
.discount,.allsum{
	margin-right: 10px;
}



/*******************************购物车结****************************************/
.caradd{
	height: 40px;
    line-height: 40px;
    padding: 10px 10px 10px 0;
    position: relative;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col20{
	width: 155px;
	padding: 0 10px;
	float: left;
	font-size: 12px;
	color: #333333;
	
}
.col21{
	float: right;
	color: #333;
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    padding-right: 150px;
}
.gobuy{
	position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 120px;
    line-height: 60px;
    text-align: center;
    background-color: #e31436;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}