
		<div id="kaola_fotter">
			<p>About NetEase - 公司简介 - 联系方法 - 友情链接 - 招聘信息 - 客户服务 - 隐私政策 - 网络营销 - 网站地图 - 网易考拉海购 </p>
			<p class="middle"><img src="../img/index/footer_small.png"/  style="vertical-align: middle;">
				<span>浙公网安备 33010002000066号 </span>
				<span>增值电信业务经营许可证：浙B2-20090185-3</span>
				<span>网络文化经营许可证：浙网文[2016]0155-055号</span>
				<span>网易公司版权所有©1997-2016</span>
			</p>
  			<p class="bottom"><img src="../img/index/footer_id.png"/><img src="../img/index/footer_middle.jpg"/></p>
		</div>
