		<div id="kaola_header">
			<div id="header_Nav" class="clearfix">
				<!--左侧的图标-->
				<div id="clearfloat">
					<span id="welcome">考拉欢迎您！</span>
					<span id="userName"><a href="login.html">登录</a></span> |
					<span id="exit"><a href="register.html">免费注册</a></span>
					<span class="mobile"><a href="#"><i class="fa fa-mobile" id="phone"></i>手机考拉海购
						<div class="app">
							<img src="../img/index/dcode-app.jpg"/>
							<p class="txt">下载APP<br>领1000元新人礼包</p>
						</div>
					</a></span>
				</div>
				<!--右侧的图标-->
			
				<ul id="navList" class="clearfix">
					<li><a href="#"><i class="fa fa-flag" id="sign"></i>每日签到</a></li>
					<li><a href="#">我的订单</a></li>
					<li class="user caret"><a href="#">个人中心<i class="fa fa-caret-down icon"></i></a>
						<ul>
							<li><a href="#">我的优惠券</a></li>
							<li><a href="#">我的考拉豆</a></li>
							<li><a href="#">账号安全</a></li>
							<li><a href="#">我的实名认证</a></li>
							<li><a href="#">我收藏的商品</a></li>
							<li><a href="#">我关注的品牌</a></li>
							<li><a href="#">售后管理</a></li>
						</ul>
					</li>
					<li class="client caret"><a href="#">客户服务<i class="fa fa-caret-down icon"></i></a>
						<ul>
							<li><a href="#"><i class="fa fa-user"></i>我的优惠券</a></li>
							<li><a href="#"><i class="fa fa-h-square"></i>我的考拉豆</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="fa fa-user"></i>游戏充值</a></li>
					<li><a href="#">消费告知书</a></li>
					<li class="more"><a href="#">更多<i class="fa fa-caret-down"></i></a>
						<ul>
							<li><a href="#">我的优惠券</a></li>
							<li><a href="#" id="weibo">新浪微博</a></li>
							<li><a href="#" id="weixin">微信公众号</a></li>
							<li><a href="#" id="yixin">易信公众号</a></li>
							<li><a href="#">我收藏的商品</a></li>
							<li><a href="#">我关注的品牌</a></li>
							<li><a href="#">售后管理</a></li>
							<div class="wb">
								<img src="../img/index/2dcode-wb.jpg"/>
							</div>
							<div class="wx">
								<img src="../img/index/2dcode-wx.jpg"/>
							</div>
							<div class="yx">
								<img src="../img/index/2dcode-yx.jpg"/>
							</div>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
	<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
